<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install" />
  <package id="ccleaner" />
  <package id="chocolatey" />
  <package id="dotnetcore-sdk" />
  <package id="visualstudio2019professional" />
  <package id="git.install" />
  <package id="sourcetree" />
  <package id="putty.install" />
  <package id="PowerShell" />
  <package id="googlechrome" />
  <package id="notepadplusplus.install" />
  <package id="windirstat" />
  <package id="speccy" />
  <package id="slack" />
  <package id="sql-server-management-studio" />
  <package id="vcredist2017" />
  <package id="office365business" />
  <package id="python" />
  <package id="nodejs" />  
  <package id="pip" />   
  <package id="adobereader" />
  <package id="docker-cli" />
  <package id="docker-desktop" />
  <package id="docker-compose" />
  <package id="postman" />
  <package id="filezilla" />
  <package id="wireshark" />
  <package id="winpcap" />
  <package id="fiddler" />
  <package id="azure-cli" />
  <package id="winscp.install" />
  <package id="cmder" />
  <package id="terraform" />
  <package id="firefox" />
  <package id="vscode" />
  <package id="androidstudio" />
  <package id="python2" />
  <package id="jdk8" />
  <!-- Personal packages -->
  <package id="discord.install" />
  <package id="teamviewer" />
  <package id="vlc" />
  <package id="steam" />
  <package id="discord" />
  <package id="keepass.install" />
  <package id="keepass-keepasshttp" />
  <package id="keepass-plugin-keeanywhere" />
  <package id="skype" />
  <package id="youtube-dl" />
  <package id="veracrypt" />
  <package id="nordvpn" />
  <package id="f.lux" />
  <package id="ffmpeg" />
</packages>
