<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install" />
  <package id="ccleaner" />
  <package id="chocolatey" />
  <package id="netfx-4.7.1-devpack" />
  <package id="dotnet4.6.1" />
  <package id="dotnetcore-sdk" />
  <package id="visualstudio2017professional" />
  <!-- Do not work properly yet -->
  <!-- <package id="resharper" /> -->
  <!-- <package id="gitdiffmargin" /> -->
  <!-- <package id="ncrunch-vs2017" /> -->
  <package id="git.install" />
  <package id="sourcetree" />
  <package id="putty.install" />
  <package id="PowerShell" />
  <package id="googlechrome" />
  <package id="notepadplusplus.install" />
  <package id="windirstat" />
  <package id="speccy" />
  <package id="keepass.install" />
  <package id="keepass-keepasshttp" />
  <package id="keepass-plugin-keeanywhere" />
  <package id="slack" />
  <package id="sql-server-management-studio" />
  <!-- Personal packages -->
  <!-- <package id="discord.install" /> -->
  <!-- <package id="teamviewer" /> -->
  <!-- <package id="vlc" /> -->
  <!-- <package id="steam" /> -->
  <!-- <package id="qbittorrent" /> -->
</packages>
