<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="chocolatey" />
  <package id="git" />
  <package id="putty" />
  <package id="PowerShell" />
  <package id="googlechrome" />
  <package id="notepadplusplus" />
  <package id="windirstat" />
  <package id="speccy" />
  <package id="slack" />
  <package id="sql-server-management-studio" />
  <package id="python" />
  <package id="nodejs" />
  <package id="adobereader" />
  <package id="docker-cli" />
  <package id="docker-desktop" />
  <package id="docker-compose" />
  <package id="bruno" />
  <package id="filezilla" />
  <package id="wireshark" />
  <package id="winpcap" />
  <package id="fiddler" />
  <package id="azure-cli" />
  <package id="winscp.install" />
  <package id="cmder" />
  <package id="terraform" />
  <package id="firefox" />
  <package id="vscode" />
  <package id="androidstudio" />
  <package id="sqlcmd" />
  <package id="servicebusexplorer" />
  <package id="pnpm" />
  <package id="angryip" />
  <package id="androidstudio" />
  <package id="github-desktop" />
  <!-- Personal packages -->
  <package id="discord" />
  <package id="teamviewer" />
  <package id="vlc" />
  <package id="steam" />
  <package id="discord" />
  <package id="yt-dlp" />
  <package id="veracrypt" />
  <package id="f.lux" />
  <package id="ffmpeg" />
  <package id="obsidian" />
  <package id="signal" />
  <package id="qbittorrent" />
  <package id="keepassxc" />
  <package id="anki" />
  <package id="brave" />
  <package id="claude" />
  <package id="chatgpt" />
  <!-- Broken packages -->
  <!-- <package id="nordvpn" /> -->
  <!-- <package id="line" /> -->
  <!-- <package id="stack" /> -->
</packages>